<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="target_resolver" version="3.0">
    <display-name>DataLink</display-name>
    <listener>
        <!-- Relies on the logServerURLProperty parameter being set above. -->
        <listener-class>org.opencadc.alma.logging.web.HTTPLoggingContextListener</listener-class>
    </listener>
    <!-- End Register listener for remote logger. -->

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <load-on-startup>1</load-on-startup>
        <servlet-name>logControl</servlet-name>
        <servlet-class>ca.nrc.cadc.log.LogControlServlet</servlet-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>info</param-value>
        </init-param>
        <init-param>
            <param-name>logLevelPackages</param-name>
            <param-value>
                ca.nrc.cadc.datalink
                org.opencadc.datalink
                alma
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <load-on-startup>2</load-on-startup>
        <servlet-name>DataLinkServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.uws.server.JobServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>org.opencadc.alma.logging.web.LoggingSyncGetAction</param-value>
        </init-param>
        <init-param>
            <param-name>post</param-name>
            <param-value>org.opencadc.alma.logging.web.LoggingSyncPostAction</param-value>
        </init-param>
        <init-param>
            <param-name>augmentSubject</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>authHeaders</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>ca.nrc.cadc.uws.server.JobManager</param-name>
            <param-value>org.opencadc.datalink.ws.DataLinkJobManager</param-value>
        </init-param>
    </servlet>

    <servlet>
        <load-on-startup>3</load-on-startup>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>ca.nrc.cadc.vosi.CapGetAction</param-value>
        </init-param>
        <init-param>
            <param-name>init</param-name>
            <param-value>ca.nrc.cadc.vosi.CapInitAction</param-value>
        </init-param>
        <init-param>
            <param-name>augmentSubject</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>authHeaders</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>input</param-name>
            <param-value>/capabilities.xml</param-value>
        </init-param>
    </servlet>

    <servlet>
        <load-on-startup>3</load-on-startup>
        <servlet-name>AvailabilityServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.vosi.AvailabilityServlet</servlet-class>
        <init-param>
            <description>
            </description>
            <param-name>ca.nrc.cadc.vosi.AvailabilityPlugin</param-name>
            <param-value>org.opencadc.datalink.DataLinkAvailabilityPlugin</param-value>
        </init-param>
    </servlet>

    <!-- URL-to-servlet mapping -->

    <servlet-mapping>
        <servlet-name>logControl</servlet-name>
        <url-pattern>/logControl</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AvailabilityServlet</servlet-name>
        <url-pattern>/availability</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <url-pattern>/capabilities</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DataLinkServlet</servlet-name>
        <url-pattern>/sync</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DataLinkServlet</servlet-name>
        <url-pattern>/sync/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>doc</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>doc</servlet-name>
        <url-pattern>/doc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>examples</servlet-name>
        <jsp-file>/examples.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>examples</servlet-name>
        <url-pattern>/examples</url-pattern>
    </servlet-mapping>

    <!-- security constraints -->

    <security-role>
        <description>Public security role</description>
        <role-name>public</role-name>
    </security-role>
</web-app>
