<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="datalink" version="3.0">

    <display-name>DataLink</display-name>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>logControl</servlet-name>
        <servlet-class>ca.nrc.cadc.log.LogControlServlet</servlet-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>info</param-value>
        </init-param>
        <init-param>
            <param-name>logLevelPackages</param-name>
            <param-value>
                ca.nrc.cadc.datalink
                org.opencadc.datalink
                alma
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <load-on-startup>2</load-on-startup>
        <servlet-name>DataLinkServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.uws.server.JobServlet</servlet-class>
        <init-param>
            <param-name>get</param-name>
            <param-value>ca.nrc.cadc.uws.web.SyncGetAction</param-value>
        </init-param>
        <init-param>
            <param-name>post</param-name>
            <param-value>ca.nrc.cadc.uws.web.SyncPostAction</param-value>
        </init-param>
        <init-param>
            <param-name>authHeaders</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>ca.nrc.cadc.uws.server.JobManager</param-name>
            <param-value>org.opencadc.datalink.ws.DataLinkJobManager</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.rest.RestServlet</servlet-class>
        <init-param>
            <param-name>init</param-name>
            <param-value>ca.nrc.cadc.vosi.CapInitAction</param-value>
        </init-param>
        <init-param>
            <param-name>get</param-name>
            <param-value>ca.nrc.cadc.vosi.CapGetAction</param-value>
        </init-param>
        <init-param>
            <param-name>head</param-name>
            <param-value>ca.nrc.cadc.vosi.CapHeadAction</param-value>
        </init-param>
        <init-param>
            <param-name>authHeaders</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>input</param-name>
            <param-value>/capabilities.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <load-on-startup>3</load-on-startup>
        <servlet-name>AvailabilityServlet</servlet-name>
        <servlet-class>ca.nrc.cadc.vosi.AvailabilityServlet</servlet-class>
        <init-param>
            <description>
            </description>
            <param-name>ca.nrc.cadc.vosi.AvailabilityPlugin</param-name>
            <param-value>org.opencadc.datalink.DataLinkAvailabilityPlugin</param-value>
        </init-param>
    </servlet>

    <!-- URL-to-servlet mapping -->

    <servlet-mapping>
        <servlet-name>logControl</servlet-name>
        <url-pattern>/logControl</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AvailabilityServlet</servlet-name>
        <url-pattern>/availability</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <url-pattern>/capabilities</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DataLinkServlet</servlet-name>
        <url-pattern>/sync</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DataLinkServlet</servlet-name>
        <url-pattern>/sync/*</url-pattern>
    </servlet-mapping>

<!--    <servlet-mapping>-->
<!--        <servlet-name>DataLinkServlet</servlet-name>-->
<!--        <url-pattern>/auth-datalink/*</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>doc</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>doc</servlet-name>
        <url-pattern>/doc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>examples</servlet-name>
        <jsp-file>/examples.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>examples</servlet-name>
        <url-pattern>/examples</url-pattern>
    </servlet-mapping>

    <!-- security constraints -->

    <security-role>
        <description>Public security role</description>
        <role-name>public</role-name>
    </security-role>

<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>auth</web-resource-name>-->
<!--            <description/>-->
<!--            <url-pattern>/auth-cutout/*</url-pattern>-->
<!--            <url-pattern>/auth-datalink/*</url-pattern>-->
<!--            <url-pattern>/auth-meta/*</url-pattern>-->
<!--            <url-pattern>/auth-pkg/*</url-pattern>-->
<!--            <url-pattern>/auth-sync/*</url-pattern>-->
<!--            <url-pattern>/auth-async/*</url-pattern>-->
<!--            <url-pattern>/logControl/*</url-pattern>-->
<!--            <http-method>GET</http-method>-->
<!--            <http-method>POST</http-method>-->
<!--            <http-method>HEAD</http-method>-->
<!--            <http-method>PUT</http-method>-->
<!--            <http-method>OPTIONS</http-method>-->
<!--            <http-method>TRACE</http-method>-->
<!--            <http-method>DELETE</http-method>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <description>force authentication for all requests</description>-->
<!--            <role-name>public</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->

<!--    <login-config>-->
<!--        <auth-method>BASIC</auth-method>-->
<!--        <realm-name>Canadian Astronomy Data Centre</realm-name>-->
<!--    </login-config>-->
</web-app>
