

#
# This file maps resource identifiers to the location of capability
# information.
#
ivo://cadc.nrc.ca/reg = http://proxy/reg/capabilities
ivo://cadc.nrc.ca/sia = http://proxy/sia/capabilities
ivo://cadc.nrc.ca/alma-tap = https://beta.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/alma-obscore/capabilities
ivo://cadc.nrc.ca/gms = https://www.canfar.phys.uvic.ca/ac/capabilities
