name: Reusable Java Gradle workflow

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      artifact-name:
        required: true
        type: string

jobs:
  gradle-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - uses: actions/download-artifact@v4.1.7
        with:
          name: alma-lib
          path: /home/runner/.m2/repository/org/opencadc/alma-lib
      - name: build and test ${{ inputs.name }}
        run: gradle --info -b ${{ inputs.name }}/build.gradle clean build test
      # Upload WAR artifact
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ inputs.name }}-artifact
          path: ./${{ inputs.name }}/build/libs/${{ inputs.artifact-name }}.war
